<!-- This file contains stylesheets(https://developer.mozilla.org/en-US/docs/Glossary/Stylesheet) 
     and scripts that are loaded in the header of the site.  -->

<!-- Links -->
<link
   href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext"
   rel="stylesheet"
   type="text/css"
/>
<link
   rel="stylesheet"
   id="bootstrap-css"
   href="/assets/lib/bootstrap/css/bootstrap.min.css"
   type="text/css"
   media="all"
/>

<link
   rel="stylesheet"
   id="main-css"
   href="/style.css"
   type="text/css"
   media="all"
/>

<link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
   integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
   crossorigin="anonymous"
   referrerpolicy="no-referrer"
/>

<script
   src="https://kit.fontawesome.com/4606cc6910.js"
   crossorigin="anonymous"
></script>
